body {
  background: #33618f;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1 {
  color: #333;
}

label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

input {
  padding: 8px;
  width: 250px;
  border: 1px solid #8d8787;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 16px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}

p {
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
  color: #444;
}

#resultadoIMC, #classificacaoIMC {
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }
  to   { opacity: 1; transform: translateY(0); }
}

.container {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  max-width: 350px;
  width: 100%;
}
